.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: #D9F1FF;
    overflow: scroll;
}

.projects h1{
    font-size: 40px;
}

.projects__previews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 500px);
    padding: 0 5rem;
    column-gap: 10rem;
    row-gap: 5rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    overflow: scroll;
}


@media screen and (max-width: 1084px){
    .projects{
    }

    .projects__previews{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 7rem;
        grid-template-rows: repeat(4, 550px);
        overflow: hidden;
    }
}

@media screen and (max-width: 760px){
    .projects__previews{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 2rem;
        overflow: hidden;
    }

    Button{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px){
    .projects{
    }

    .projects__previews{
        grid-template-rows: repeat(4, 400px);
        margin-bottom: 0;
        overflow: hidden;
    }
}