.project{
    height: 40vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    color: black;
}

.project h1{
    font-size: 25px;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.project img{
    width: 80%;
    border-radius: 20px;
    cursor: pointer;
}

.project h2{
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    margin-left: 1rem;
    width: 70%;
    color: #0085FF;
}